<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetModifiedFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GetModifiedFiles.Properties.Settings>
            <setting name="ExcludeFiles" serializeAs="String">
                <value>.asa;.asax;.log;.pdb;.db;.suo;.user;.csproj;vbproj.sln;.vb;.cs</value>
            </setting>
            <setting name="SearchFolder" serializeAs="String">
                <value>WebSite</value>
            </setting>
            <setting name="CopyToFolder" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="ExcludeFolders" serializeAs="String">
                <value>obj;.svn</value>
            </setting>
            <setting name="FtpURI" serializeAs="String">
                <value>ftp://207.44.255.34/Webs/</value>
            </setting>
            <setting name="FtpUserName" serializeAs="String">
                <value>Chaim</value>
            </setting>
            <setting name="FtpUserPassword" serializeAs="String">
                <value>CHA!@#</value>
            </setting>
        </GetModifiedFiles.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
